

    <div class= "card">
         {{#each comments}}
              <section class=" mb-3	comment card-body">
                  <div class="box radius-xl has-background-grey-light has-text-primary p-2 is-size-4 radius-large ">
                      <p class="p-1 is-uppercase "> {{user.username}}:</p>
                    </span>
                      <div class="box radius-xl has-background-white has-text-black is-align-item p-2 is-size-6 radius-large">
                           <p>{{comment_text}}</p>
                       </div>
                  </div>
              </section>
               {{/each}}
          </div>
      








