<div class='footerWrapper'>
      <footer id='footer' class='columns'>

        <div class='column is-one-quarter is-desktop'></div>

        <div class='column is-desktop'>
          <div class='m-1 title is-5 mg-medium has-text-centered'>
            <p> Source </p>
            <br />
            <a href='https://github.com/heranYang93/Leg-it'>
              <i class='fab fa-github'></i>
            </a>
          </div>
        </div>

        <div class='column is-desktop'>
          <div class='m-1 title is-5 mg-medium has-text-centered'>
            <p> Report an Error </p>
            <br />
            <a href='https://github.com/heranYang93/Leg-it/issues/new'>
              <i class='fas fa-exclamation-triangle'></i>
            </a>
          </div>
        </div>

        <div class='column is-desktop is-one-quarter'></div>

      </footer>
    </div>