<!--modal default not active-->
<div class='modal actions-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white'>
    <button class='button is-medium is-fullwidth'>Follow</button>
    <button class='button is-medium is-fullwidth'>Cancel</button>
  </div>
</div>