<!--modal default not active-->
<div class='modal actions-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white'>
    <button class='button follow-action is-medium is-fullwidth'>
      {{#if follower}}Unfollow{{else}}Follow{{/if}}</button>
    <button class='button cancel is-medium is-fullwidth'>Cancel</button>
  </div>
</div>