<a href='/' class='fig column is-4'>

  <img src={{post_image}} alt='{{post_title}}' />
  <div class='caption'>
    <h3> <i class='fa fa-heart'></i><span> {{likes.length}}</span></h3>

    {{! </h3>
      <h3> }}
    <h3> <i class='fa fa-comment'></i><span> {{comments.length}}</span></h3>

    {{! <h5>Sign-up or login to view content!</h5> }}
  </div>
</a>