<div class='is-flex is-align-items-center is-hidden-mobile'>
  <img class='post-avatar ml-2' src='{{image}}' />
  <a href='/community/{{id}}'><h2
      class='card-header-title has-text-link'
      user-id=''
    >{{username}}</h2></a>
</div>