<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>leg-it</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
      integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    {{#if login}}
      <link rel='stylesheet' href='/css/login.css' />
    {{/if}}
    {{#if register}}
      <link rel='stylesheet' href='/css/register.css' />
    {{/if}}
    {{#if singlePost}}
      <link rel='stylesheet' href='/css/single-post.css' />
    {{/if}}
  </head>
  <body>
    {{{body}}}
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
      integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <script src='/js/auth.js'></script>

    <div class='footerWrapper'>
      <footer id='footer' class='columns'>

        <div class='column is-one-quarter is-desktop'></div>

        <div class='column is-desktop has-text-centered'>
          <strong class='m-1 title is-5 mg-medium'>Legogram</strong>
          <div class='m-1 subtitle is-7'>
            <p>is developed by:</p>
          </div>
          <br />
          <div class='m-1 subtitle is-6'>
            <a> Moe </a>
            -
            <a href='https://github.com/moedaaboul'>
              <i class='fab fa-github'></i>
            </a>
            -
            <a href='https://www.linkedin.com/in/m-d-027032228/'>
              <i class='fab fa-linkedin-in'></i>
            </a>
            -
            <a href='https://moedaaboul.github.io'>
              <i class='fas fa-blog'></i>
            </a>
          </div>

          <div class='m-1 subtitle is-6'>
            <a> Heran </a>
            -
            <a href='https://github.com/heranYang93'>
              <i class='fab fa-github'></i>
            </a>
            -
            <a href='https://www.linkedin.com/in/heranyang/'>
              <i class='fab fa-linkedin-in'></i>
            </a>
            -
            <a
              href='https://heranyang93.github.io/Full-stack-developer-portfolio/'
            >
              <i class='fas fa-blog'></i>
            </a>
          </div>

          <div class='m-1 subtitle is-6'>
            <a> Eoin </a>
            -
            <a href='https://github.com/HarkyDev'>
              <i class='fab fa-github'></i>
            </a>
            -
            <a href='https://harkydev.github.io/Portfolio/'>
              <i class='fas fa-blog'></i>
            </a>

          </div>

          <div class='m-1 subtitle is-6'>
            <a> Iler </a>
            -
            <a href='https://github.com/Iler22'>
              <i class='fab fa-github'></i>
            </a>
          </div>

          <div class='m-1 subtitle is-6'>
            <a> Bon </a>
            -
            <a href='https://github.com/Allan-Ngwenya'>
              <i class='fab fa-github'></i>
            </a>
          </div>

        </div>

        <div class='column is-desktop'>
          <div class='m-1 title is-5 mg-medium has-text-centered'>
            <p> Source </p>
            <br />
            <a href='https://github.com/heranYang93/Leg-it'>
              <i class='fab fa-github'></i>
            </a>
          </div>
        </div>

        <div class='column is-desktop'>
          <div class='m-1 title is-5 mg-medium has-text-centered'>
            <p> Report an Error </p>
            <br />
            <a href='https://github.com/heranYang93/Leg-it/issues/new'>
              <i class='fas fa-exclamation-triangle'></i>
            </a>
          </div>
        </div>

        <div class='column is-desktop is-one-quarter'></div>

      </footer>
    </div>
  </body>
</html>