{{> navbar}}
<div class="navHolderFeed"></div>

{{> uploadModal}}

<div class="columns is-gapless">
        <div class="column is-9">
                <div id='keyInfoArea' class="container ">
                        {{#each postsData}}
                        {{> imageCardFeed}}
                        {{/each}}  
                </div>
        </div>
        <div class="column is-3 is-hidden-mobile">
                <div class="container is-centered mt-5 ml-1">
                        {{#if suggestedUsers}}
                                <div class="has-text-primary is-size-6">Suggestions for you:</div>  
                        {{else}}
                                <strong class="has-text-primary is-size-6 mr-3">⚡ You are up to date.</strong>
                        {{/if}}
                        {{#limitEach suggestedUsers 5}}
                                {{> suggestionsCard}}
                        {{/limitEach}}
                </div>
        </div>
</div>

{{> modal}}

<script type="module" src='/js/checkDefault.js'></script>
<script type="module" src='/js/likeAllPosts.js'></script>
<script type='module' src='/js/uploadModal.js'></script>
<script type='module' src='/js/modalAll.js'></script>
<script type='module' src='/js/followAll.js'></script>
<script type="module" src='/js/toggleNavbar.js'></script>