{{> navbar}}
<div class="navHolderFeed"> </div>
{{> uploadModal}}
<div class="container ">
{{#each postsData}}
{{> imageCardFeed}}
{{/each}}  
</div>
{{> modal}}

<script type="module" src='/js/likeAllPosts.js'></script>
<script type='module' src='/js/uploadModal.js'></script>
<script type='module' src='/js/modalAll.js'></script>
<script type='module' src='/js/followAll.js'></script>
<script type="module" src='/js/toggleNavbar.js'></script>