{{> navbar}}
<div class="columns is-gapless">
<div class="column is-7">
<section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-7">
                  <div class="auth-content is-fullwidth is-flex">
                                    <img class="ml-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/120px-LEGO_logo.svg.png" alt="">
                                </div>
                <form id="login-form" action="" class="box">
                    <div class="field">
                    <div class="field">
                    <label for="name" class="label">Username</label>
                    <div class="control has-icons-left">
                      <input type="name" placeholder="e.g. blogger1" class="input" id="name" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control has-icons-left">
                      <input type="password" placeholder="*******" class="input" id="password" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="" class="checkbox">
                      <input type="checkbox">
                     Remember me
                    </label>
                  </div>
                  <div class="field">
                    <button type="submit" class="button is-success">
                      Log in
                    </button>
                  </div>
                </form>
          <div class="link">
              <div>
                <a href="/register">Create an Account</a>
              </div>
          </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
<div class="column is-5 is-hidden-mobile">
<div class='lego-container'>
  <div class='lego lego-4'>
    <div class='circles circles-1'></div>
    <div class='circles circles-2'></div>
  </div>
  <div class='lego lego-3'>
    <div class='circles circles-1'></div>
    <div class='circles circles-2'></div>
  </div>
  <div class='lego lego-2'>
    <div class='circles circles-1'></div>
    <div class='circles circles-2'></div>
  </div>
  <div class='lego lego-1'>
    <div class='circles circles-1'></div>
    <div class='circles circles-2'></div>
  </div>
  <div class='lego lego-0'>
    <div class='circles circles-1'></div>
    <div class='circles circles-2'></div>
  </div>
</div>

</div>
</div>

    <script type="module" src='/js/login.js'></script>