{{> navbar}}

<section class='section'>
  <div class='container'>
    <div class='columns is-vcentered'>
      <div class='column has-text-centered'>
        <img id="legoSurprisedFace"
          src='https://cdn.picpng.com/head/lego-head-people-figure-face-107797.png'
        />
        <h1 class='title'>Error!</h1>
        <p class='subtitle'>You haven't post anything yet</p>
      </div>
    </div>
  </div>
</section>