{{> navbar}}
<section class="hero">
  <div class="hero-body">
    <p class="title">
      Hi! <span class="highlight">{{userName}}</span>  👋
    </p>
    <p class="subtitle is-6">
      Catch up with your posts
    </p>
  </div>
</section>

<section class="postsByTag is-flex">
    {{#each postArr}}
    {{> postUnderPersonal}}
    {{/each}}  
</section>