{{> navbar}}
{{> uploadModal}}
<section class="bd-index-section">
    <div class="container is-centered">
        <div class="columns is-multiline is-tablet is-centered">
            {{#each postsData}}
            {{> postCard}}
            {{/each}}  
        </div>
    </div>
</section>

<script type='module' src='/js/uploadModal.js'></script>