{{> navbar}}
<section class="bd-index-section">
    <div class="container">
        <div class="columns is-multiline">
            {{#each postsData}}
            {{> postCard}}
            {{/each}}  
        </div>
    </div>
</section>

