<div class="VideoIntro">
    <video muted id="splashVideo" autoplay="autoplay" src="/assets/videos/legogram.mp4">
</video></div>
{{> navbar}}
<div class="navHolderHome" style="min-height: 10%;"> </div>



{{> uploadModal}}
<div class="splashVidHolder" style="min-height: 60% ;">
     </div>
<section class="bd-index-section ">
    <div class="container is-centered">
        <div class="columns is-multiline is-tablet is-centered">
            {{#each postsData}}
            {{> postCard}}
            {{/each}}  
        </div>
    </div>
</section>

<script type='module' src='/js/uploadModal.js'></script>