  {{> navbar}}
  <div class="navHolder"> </div>
  <section class="hero is-black">
  <div class="hero-body">
    <p class="title is-4">
      <span class="highlight">#{{tagName}}</span>
    </p>
  </div>
</section>
  
  <section class= "is-flex is-flex-wrap-wrap is-justify-content-flex-start is-flex-grow-1 is-flex-shrink-0">
    {{#each postArr}}
    {{> postCard_tag}}
    {{/each}}  
  </section>