{{> navbar}}
<div class="navHolder"></div>

<div id="uploadWrapper">

<div class='profile actions-profile upload'>
  <div class='profile-background upload'></div>
  <div class='profile-card'>
    <br>
    <section class='profile-card-body has-text-centered'>
      <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
        <div class="m-5">
          <h1 class='subtitle is-3'>Upload a new profile picture</h1>
        </div>
        <div id='uploadInput' class="m-5">
          <input
          id='inp-profile'
          type='file'
          name='image'
          value=''
          class='form-input'
        />
        </div>
        <div class='profile-card-foot has-text-centered'>
          <button class="btn button btn-profile is-success is-small">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
          </button>
          <a href='/profile'>
            <button class="button is-danger cancel is-outlined is-small">
              <span>Delete</span>
              <span class="icon is-small">
                <i class="fas fa-times"></i>
              </span>
            </button>
          </a>
          
    </div>
        <figure class="m-5 image is-128x128">
          <img
          id='img'
          class="image is-rounded"
          src="{{singleUser.image}}"
          height='200'
          alt='{{singleUser.username}}'
        />
        </figure>
      </div>
    </section>
  <div style="margin-top: 33vh;">

  
</div>
<script type='module' src='/js/editProfile.js'></script>