{{> navbar}}
<div class="navHolder"> </div>
<div class="columns is-gapless">
<div class="column is-7">
<section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns m-3">
              <div class="column is-8">
                  <div class="auth-content is-fullwidth is-flex">
                                    <img style="max-width:30%"class="ml-5" src="/assets/images/logo.png" alt="">
                                </div>
                <form id="register-form" action="" class="box">
                    <div class="field">
                    <div class="field">
                    <label for="username" class="label">Username</label>
                    <div class="control has-icons-left">
                      <input type="username" placeholder="e.g. blogger1" class="input" id="username" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                   <label for="email" class="label">Email</label>
                    <div class="control has-icons-left">
                      <input type="email" placeholder="john@mail.com" class="input" id="email" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control has-icons-left">
                      <input type="password" placeholder="*******" class="input" id="password" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="" class="checkbox">
                      <input type="checkbox">
                     Remember me
                    </label>
                  </div>
                  <div class="field">
                    <button type="submit" class="button is-success">
                      Sign Up
                    </button>
                  </div>
                </form>
          <div class="link">
              <div>
                <a href="/login">Login</a>
              </div>
          </div>
               </div>
            </div>
          </div>
        </div>
      </section>
      </div>
<div class="column is-5 is-hidden-mobile">
<div class="lego-container">
  <div class="brick blue">
    <div class="side-1"></div>
    <div class="side-2"></div>
    <div class="side-3"></div>
    <div class="stud stud-1"></div>
    <div class="stud stud-2"></div>
    <div class="stud stud-3"></div>
    <div class="stud stud-4"></div>
    <div class="stud stud-5"></div>
    <div class="stud stud-6"></div>
    <div class="stud stud-7"></div>
    <div class="stud stud-8"></div>
  </div>
  <div class="brick red">
    <div class="side-1"></div>
    <div class="side-2"></div>
    <div class="side-3"></div>
    <div class="stud stud-1"></div>
    <div class="stud stud-2"></div>
    <div class="stud stud-3"></div>
    <div class="stud stud-4"></div>
    <div class="stud stud-5"></div>
    <div class="stud stud-6"></div>
    <div class="stud stud-7"></div>
    <div class="stud stud-8"></div>
  </div>
  <div class="brick yellow">
    <div class="side-1"></div>
    <div class="side-2"></div>
    <div class="side-3"></div>
    <div class="stud stud-1"></div>
    <div class="stud stud-2"></div>
    <div class="stud stud-3"></div>
    <div class="stud stud-4"></div>
    <div class="stud stud-5"></div>
    <div class="stud stud-6"></div>
    <div class="stud stud-7"></div>
    <div class="stud stud-8"></div>
  </div>
</div>

</div>
</div>