<div class="container">
    {{#each postsData}}
    {{> imageCard}}
    {{/each}}  
</div>

<section id='tagArea'>
    {{#each tagArr}}
    {{> singleTag}}
    {{/each}}  
</section>

<script type="module" src='/js/likePost.js'></script>