{{> navbar}}
<div class="container">
    {{#each postsData}}
    {{> imageCard}}
    {{/each}}  
</div>

<section class ='card' id='tagArea'>
    {{#each tagArr}}
    {{> singleTag}}
    {{/each}}  
</section>

<script type="module" src='/js/likePost.js'></script>
{{#each postsData}}
{{> imageCard}}
{{> commentCard}}
{{> modal}}

{{/each}}  
</div>
    <script type="module" src='/js/likePost.js'></script>
        <script type="module" src='/js/modal.js'></script>
<script type='module' src='/js/follow.js'></script>