{{> navbar}}
{{> uploadModal}}
  <div class='modal-background'>
  </div>
 <a href="/feed" class="is-white m-10"> <button class="modal-close is-large" aria-label="close"></button></a>
{{#each postsData}}
<section class="section">
<div class="columns is-centered is-gapless">
    <div class="column is-7 is-gapless">
{{> imageCard}}
</div>
 <div class="column is-5 is-gapless">
{{> commentCard}}
</div>
</div>
</section>
{{> modal}}
{{/each}}


<script type="module" src='/js/likePost.js'></script>
<script type="module" src='/js/modal.js'></script>
<script type='module' src='/js/follow.js'></script>
<script type='module' src='/js/uploadModal.js'></script>