/* HOMEPAGE IMAGE HOVER ANIMATION  */
:root {
  --lego-yellow: #fdc800;
}

body {
  background-color: rgba(250, 250, 250);
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
.fig {
  color: white;
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow: hidden;
}

.fig img {
  width: 100%;
}

.fig:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #006266;
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}

.fig:hover:before {
  transform: translateY(0);
  transition-delay: 0s;
}

.fig .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s ease;
}

.fig h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem;
}

.fig:hover .caption {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}

.bd-index-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.bd-index-section {
  background-image: linear-gradient(
    180deg,
    hsla(348deg, 100%, 67%, 0.1),
    transparent 3rem
  );
  background-repeat: repeat-x;
}

a {
  /* width: 100%; */
  object-fit: cover;
}

.fig > img {
  inline-size: 100%;
  width: 100%;
  object-fit: cover;
}

.caption {
  color: white;
}

.card {
  max-width: 600px;
  margin: auto;
  margin-bottom: 10px;
}

#tagArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tagArea_manage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#tagArea > * {
  margin-top: 1%;
  margin-bottom: 0%;
  margin-right: 2%;
}

.tagArea_manage > * {
  margin-top: 1%;
  margin-bottom: 0%;
  margin-right: 2%;
}

.tagArea > * {
  margin-top: 1%;
  margin-bottom: 0%;
  margin-right: 2%;
}

#tagArea > .button > a {
  color: hsl(171, 100%, 41%);
}

.single-post-by-tag {
  margin: 1%;
  width: 30%;
}

.tagWithinPostByTag {
  margin: 1%;
}

.tagWithinPostByTag > * {
  color: grey;
}

.post_time {
  color: hsl(171, 100%, 41%);
}

.NavButton {
  border: none;
  font-size: 2rem;
}

.NavButton:hover {
  color: black;
  transform: scale(1.2);
}

.navbar {
  position: fixed;
  width: 100vw;
}

.yellowBG {
  background-color: var(--lego-yellow);
}

.navHolder {
  min-height: 10%;
}

.navHolderFeed {
  min-height: 14%;
}

.splashHeaderOne {
  font-size: 4.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.splashHeaderTwo {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.splashButtons {
  margin-left: 20px;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 40px;
  text-transform: uppercase;

  font-weight: bolder;
}

.splashButtons:hover {
  cursor: pointer;
  background-color: darkgrey;
  color: white;
  transform: scale(1.1);
}

.videoIntro {
  position: fixed;
}

@media only screen and (max-width: 670px) {
  .splashHeaderOne {
    font-size: 230%;
  }
  .splashHeaderTwo {
    font-size: 200%;
  }
  .splashButtons {
    margin-bottom: 30px;
  }
  .splashHolder {
    display: none;
  }
}

.splashContainer {
  display: none;
}

@media only screen and (max-width: 670px) {
  .splashHeaderOne {
    font-size: 230%;
  }
  .splashHeaderTwo {
    font-size: 200%;
  }
  .splashButtons {
    margin-bottom: 30px;
  }
  .splashHolder {
    display: none;
  }
}

.splashContainer {
  display: none;
}

@media only screen and (max-width: 830px) {
  .splashVidHolder {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .NavButton {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 390px) {
  .NavButton {
    flex-shrink: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .logoNav {
    display: none;
  }
}

.comment-avatar {
  display: block;
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

img {
  max-height: 730px;
}

.comment-container {
  overflow-y: auto;
  max-height: 430px;
}

.modal-close {
  right: 8px;
  top: 61px;
}

#personalPagePost {
  margin-left: 2%;
  margin-right: 2%;
  flex: 1, 1, 50%;
  height: 10%;
}

.highlight {
  color: hsl(171, 100%, 41%);
}

#personalPostSmall {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#personalPostSmall > * {
  margin: 0;
}

.is-delete {
  border: 0;
}

#legoSurprisedFace {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 20%;
}

.postContainer {
  display: flex;
  align-items: center;
  outline: red 2px solid;
}
