/* HOMEPAGE IMAGE HOVER ANIMATION  */

body {
  background-color: rgba(250, 250, 250);
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
.fig {
  color: white;
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow: hidden;
}

.fig img {
  width: 100%;
}

.fig:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #006266;
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}

.fig:hover:before {
  transform: translateY(0);
  transition-delay: 0s;
}

.fig .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s ease;
}

.fig h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem;
}

.fig:hover .caption {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}

.bd-index-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.bd-index-section {
  background-image: linear-gradient(
    180deg,
    hsla(348deg, 100%, 67%, 0.1),
    transparent 3rem
  );
  background-repeat: repeat-x;
}

a {
  /* width: 100%; */
  object-fit: cover;
}

.fig > img {
  inline-size: 100%;
  width: 100%;
  object-fit: cover;
}

.caption {
  color: white;
}

.card {
  max-width: 600px;
  margin: auto;
  margin-bottom: 10px;
}

#tagArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tagArea_manage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#tagArea > * {
  margin-top: 1%;
  margin-bottom: 0%;
  margin-right: 2%;
}

.tagArea_manage > * {
  margin-top: 1%;
  margin-bottom: 0%;
  margin-right: 2%;
}

.tagArea > * {
  margin-top: 1%;
  margin-bottom: 0%;
  margin-right: 2%;
}

#tagArea > .button > a {
  color: hsl(171, 100%, 41%);
}

.single-post-by-tag {
  margin: 1%;
  width: 30%;
}

.tagWithinPostByTag {
  margin: 1%;
}

.tagWithinPostByTag > * {
  color: grey;
}

.post_time {
  color: hsl(171, 100%, 41%);
}

.comment-avatar {
  display: block;
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

img {
  max-height: 730px;
}

.comment-container {
  overflow-y: auto;
  max-height: 430px;
}

.modal-close {
  right: 8px;
  top: 61px;
}

#personalPagePost {
  margin-left: 2%;
  margin-right: 2%;
  flex: 1, 1, 50%;
  height: 10%;
}

.highlight {
  color: hsl(171, 100%, 41%);
}

#personalPostSmall {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#personalPostSmall > * {
  margin: 0;
}

.is-delete {
  border: 0;
}
